.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  img {
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .editbtn, button {
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #dae71f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .editbtn:hover, button:hover {
    background-color: #dae71f;
  }
  
  a {
    color: #dae71f;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  