form {
    max-width: 500px;
    margin:100px;
    padding: 20px;
    margin-left: 500px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  textarea:focus {
    border-color: #dae71f;
  }
  
  select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  select:focus {
    border-color: #dae71f;
  }
  
  textarea {
    resize: vertical;
  }
  
  input[type="file"] {
    margin-bottom: 15px;
  }
  
  button[type="submit"] {
    padding: 12px 24px;
    background-color: #dae71f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #e3f122;
  }
  
  